@page "/"
@inject IRepositorio repositorio

<div>
    <h3>Peliculas</h3>
    <ListadoPeliculas Peliculas="Peliculas"/>

</div>



@code {
    string nombre = "Alejandro";

    private List<Pelicula> Peliculas;

    protected override void OnInitialized()
    {
        Peliculas = repositorio.ObetenerPeliculas();
    }





}